.pop-wrap{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.10);
    z-index: 3000;
    position: fixed;
    top: 0px;
    left: 0px;
}

.detailPop{
    max-width: 800px;
    margin: 0px auto;
    position: fixed;
    background-color: #fff;
    z-index: 300;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 35px;
    border-radius: 25px;
    height: 600px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.20);
 
    top: 20%;
    left: 25%;

}

.detailPop h2{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}


.detailPop h2 b{
    color: #ED443E;
    font-weight: 700;
}

.detailPop p{
    font-size: 15px;
    padding-bottom: 5px;
}

.detailPop span{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    transition: all 0.2s;
    cursor: pointer;
}

.detailPop span:hover{
    font-size: 24px;
    color: red;
}

.detailPop ul li{
   padding-top: 2px;
}

