.pop-wrap{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.10);
    z-index: 3000;
    position: fixed;
    top: 0px;
    left: 0px;
}

.detailPop{
    max-width: 800px;
    margin: 0px auto;
    position: fixed;
    background-color: #fff;
    z-index: 300;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 35px;
    border-radius: 25px;
    height: 600px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.20);
 
    top: 20%;
    left: 25%;

}

.detailPop h2{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
}


.detailPop h2 b{
    color: #ED443E;
    font-weight: 700;
}

.detailPop p{
    font-size: 15px;
    padding-bottom: 5px;
}

.detailPop span{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    transition: all 0.2s;
    cursor: pointer;
    z-index: 30;
}

.detailPop span:hover{
    color: red;
}

.detailPop ul li{
   padding-top: 2px;
}

.detail-img{
    max-width: 40px;
    position: relative;
    left: -10px;
    top: -8px;
    border-radius: 100%;
    background-color: #ED443E;
    padding: 2px;
    display: inline-block;
}

.pop-header{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 15px;
    top: -15px;
    position: relative;  
}

.pop-header::before{
    display: block;
    width: 120%;
    background-color: #ddd;
    position: absolute;
    left: -40px;
    top: -35px;
    content: "";
    height: 75px;
}

@media(max-width:600px){
    .detailPop {
        max-width: 85%;
        margin: 0px auto;
        position: fixed;
        background-color: #fff;
        z-index: 300;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 35px;
        border-radius: 25px;
        height: 80vh;
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.20);
        top: 6%;
        left: 8%;
    }

    .pop-header::before {
        display: block;
        width: 130%;
        background-color: #ddd;
        position: absolute;
        left: -34px;
        top: -35px;
        content: "";
        height: 75px;
    }
}