@tailwind base;
@tailwind components;
@tailwind utilities;

.container-flex{
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container{
    max-width: 1140px!important;
    margin: 0px auto!important;
}

.container-flex{
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

